body{
    background-image: linear-gradient( violet, lavender);
    margin: auto;
    font-family: sans-serif;

}

.leftcol, .rightcol{
    background-color: rgb(241, 255, 241);
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    
}



