body{
    background-color: rgb(75,75,75);
    
}

.navigation{

    margin: 5px 0;
    height: 40px;
    width: 100%;
    background-image: linear-gradient(rgb(60,60,60), rgb(40,40,40));
    
}


button{

    font-family:'Courier New', Courier, monospace;
    font-size: 18px;

    text-transform: uppercase;
    padding: 10px;
    margin: none;
    display: inline;
    height: 40px;
    width: 25%;
    border-top: none;
    border-bottom: none;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background: none;
    
}

a{
    color: rgb(153, 255, 0);
    text-decoration-line: none;
}
a:hover{
    color: rgb(0, 255, 255);
}



#profile{
   
    float: left;
    width: 38%;
    height: 380px;
    background-color: rgb(50,50,50);
    margin: 10px 0;
    padding: 10px;
}

.pfp{
    padding: 10px;
    margin: auto;
    display: block;
    border-radius: 50px;
    
}

#education-experience{
    float: right;
    width: 58%;
    height: 380px;
    background-color: rgb(50,50,50);
    margin: 10px 0;
    padding: 10px;
}

#hobbies-interests{
    width: auto;
    padding: 10px;
    margin-top: 425px;
    background-color: rgb(50,50,50);
    
    
}

.divider{
    width: 75%;
    height: 1px;
    margin: 15px auto;
    background-color: rgb(30, 30, 30);
}

.info{
   
    width: auto;
    font-family:'Courier New', Courier, monospace;
    padding: 10px 5px; 
    text-align: center;
}

h1{
    color:  rgb(153, 255, 0);
    margin: 10px auto 20px auto;
    text-align: center;
}
h3{
    color:   rgb(0, 255, 255);
    padding: 0 0;
    margin: 0 auto;
    text-align: center;
}
p{
    
    color: white;
    margin: auto;
    padding: 5px 10px;
}

.location, .date{
    display: inline;
    padding: 10px 0;
    margin: 75px;
    
    
}
.date{
    font-style: italic;
}

ul{
    list-style-type: none;

    margin: auto;
    padding: 0 10px;
    color: white;
    
}



iframe{
    margin: auto;
    padding: 15px;
}

.hobby-pic{
    margin: auto;
    padding: 10px;
    border-radius: 50px;
}

#projects{
    background-color: rgb(50,50,50);
    margin-top: 10px;
    padding: 10px;
}








